SESSION_SECRET=example
DATABASE_URL=postgresql://user:sds2@ep-rough-recipe-a6zuu3nm.us-west-2.aws.neon.tech/neondb?sslmode=require
PGDATABASE=PGDATABASE
PGHOST=ep-rough.us-west-2.aws.neon.tech
PGPORT=5432
PGUSER=neondb_owner
PGPASSWORD=npg_Zmu5fPeRX7WB
NODE_ENV=production